.img-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 55px;
    background-color: #F6F6F6;
    z-index: -1;
    flex-wrap: wrap;
}
