<div style="z-index: -1; background-color: #F6F6F6; position:fixed; top:0px; width:100vw; height:100vh;"></div>

<div class="img-background fadein">
    <div style="max-height: @MaxImageHeight; width: 100%; overflow: hidden;">
        @Image
    </div>
    <div class="centerText text-title" style="padding-left: 30px; padding-right: 30px;"> @Text </div>
</div>

@code {
    [Parameter]
    public RenderFragment Text { get; set; }

    [Parameter]
    public RenderFragment Image { get; set; }

    [Parameter]
    public string MaxImageHeight { get; set; }
}
