.visible-element {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out 0.4s, visibility 0.4s ease-in-out 0.4s;
}

.invisible-element {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in-out 0.4s, visibility 0.4s ease-in-out 0.4s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
}

@media (max-width: 650px){
    .hidden{
        opacity: 1;
        visibility: visible;
    }
    .invisible-element {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
    }
}

.text-title {
    width: 100vw;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    align-items: center;
}

.horizontal-scroll::-webkit-scrollbar {
    height: 10px;
}

.horizontal-scroll::-webkit-scrollbar-track {
    background: floralwhite;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}