<div class="three-dimensional">
    <div class="grid-container" style="padding-left: 3rem; padding-right: 3rem; grid-template-columns: 30% auto auto;">
        <div style="display:flex; justify-content: center; align-items: flex-end;">
            @TitleFragment
        </div>

        <div class="second-column text-block" style="padding-top: 0px;">
            @DescriptionTitleFragment
        </div>

        <div class="column-block">
            @ImageFragment
        </div>

        <div class="text-block second-column">
            @DescriptionFragment
        </div>


    </div>
</div>

@code {
    [Parameter]
    public RenderFragment TitleFragment { get; set; }

    [Parameter]
    public RenderFragment DescriptionTitleFragment { get; set; }

    [Parameter]
    public RenderFragment DescriptionFragment { get; set; }

    [Parameter]
    public RenderFragment ImageFragment { get; set; }
}
