@inject IJSRuntime JSRuntime

<div class="three-dimensional">
    @if (hiddenDiv)
    {
        <div class="invisible-element text-title" style="position:absolute;">
            <div class="fadein" style="animation-delay:0.7s;">
                @IntroText
            </div>
        </div>
    }

    <div class="fadein" style="animation-delay:0.7s;">
        @if (hiddenDiv)
        {
            <div class="visible-element hidden">
                <div class="horizontal-scroll">
                    <div class="horizontal-scroll-inner">
                        @Content
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="horizontal-scroll">
                <div class="horizontal-scroll-inner">
                    @Content
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment IntroText { get; set; }

    [Parameter]
    public bool hiddenDiv { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("handleScroll");
        }
    }
}
