<div>
    <nav class="nav">
        <div class="nav-item px-3">
            <div>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    About
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3">
            <div>
                <NavLink class="nav-link" href="projects">
                    Projects
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3">
            <div>
                <NavLink class="nav-link" href="photos">
                    Photos
                </NavLink>
            </div>
        </div>
    </nav>
</div>