<div>
    <nav class="nav">
        <div class="nav-item px-3" style="font-size: @Fontsize">
            <div>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All" data-enhance-nav="false"> @*data-enhance-nav="false" is used to make the NavLink navigate to the top of the page as opposed to the same scroll level*@
                    About
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3" style="font-size: @Fontsize">
            <div>
                <NavLink class="nav-link" href="projects" data-enhance-nav="false">
                    Projects
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3" style="font-size: @Fontsize">
            <div>
                <NavLink class="nav-link" href="places" data-enhance-nav="false">
                    Places
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code{
    [Parameter]
    public string Fontsize { get; set; }
}