<div>
    <nav class="nav">
        <div class="nav-item px-3">
            <div>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    About
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3">
            <div>
                <NavLink class="nav-link" href="counter">
                    Counter
                </NavLink>
            </div>
        </div>

        <div class="nav-item px-3">
            <div>
                <NavLink class="nav-link" href="weather">
                    Weather
                </NavLink>
            </div>
        </div>
    </nav>
</div>

