@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>About</PageTitle>

<div class="img-background" style="position:fixed; top:0px; width:100vw; height:100vh;"></div>

<div id="parallaxImage" class="img-background">
    <div class="centerText text-title">Hi, I'm Michael...</div>
    <img style="height: 55vh;" src="Images/SelfieNoBackgroundCrop.webp"/>
</div>

<ContentBlock></ContentBlock>

<div style="width:100vw; height:5vh;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("ScrollSpeed");
        }
    }
}