@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>About</PageTitle>

<div class="img-background" id="floater">
    <img style="height: 65vh;" src="Images/SelfieNoBackgroundCrop.webp" />
</div>

<div class="three-dimensional">
    <div class="text-block">
        <h1>Welcome!</h1>
    </div>
    <div class="text-block">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.

            Quisque dapibus, dui ac pulvinar varius, nunc ex vehicula mi, ut condimentum urna nibh vitae ex. Donec pellentesque nulla et erat ornare vulputate. Morbi sit amet diam malesuada, gravida purus nec, aliquet quam. Curabitur in ligula imperdiet, porttitor ante eget, suscipit turpis. Suspendisse ultricies massa eget ultrices vestibulum. Integer at massa dolor. Quisque in tincidunt tellus. Vivamus sem orci, hendrerit non dolor ac, ultrices fringilla enim. Etiam lacinia velit vel libero dignissim aliquam. Aliquam erat volutpat.
        </p>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("ScrollSpeed");
        }
    }
}