.img-background {
    display: flex;
    justify-content: center;
    position:relative;
    top: 0;
    background-color: floralwhite;
    z-index: -1;
}

.second-column {
    grid-column-start: 2;
    grid-column-end: 4;
}