@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>About</PageTitle>

<BackgroundImage MaxImageHeight="55vh">
    <Image>
        <img style="display:block; width: 100%;" src="Images/SelfieSnowBackgroundNoCrop.webp"  />
    </Image>
    <Text>
        <p style="margin-bottom:0px"><b>Michael Hodgins</b></p>
    </Text>
</BackgroundImage>

<ContentBlockContainer hiddenDiv="true">
    <IntroText>
        <p style="padding-bottom:0;">I'm an ML engineer!</p>
    </IntroText>
    <Content>
        <ContentBlock>
            <TitleFragment>
                <h2 style="padding-top:1rem; text-align:center;">Michael Hodgins</h2>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <Socials></Socials>
                </div>
            </TitleFragment>
            <DescriptionTitleFragment>
                <h1 class="text-title" style="margin-bottom:0px;">...Welcome!</h1>
            </DescriptionTitleFragment>
            <DescriptionFragment>
                <p style="font-size: 1.1rem;">
                    I am a machine learning engineer, full-stack developer, and occasional videographer eager to showcase my most innovative projects and creations. After my studies in Physics and Computer Science at McGill, I am now blending my mathematical ability and my software skills at Imperial College London; studying Artificial Intelligence and Machine Learning. When I’m not experimenting with neural networks or developing .Net applications, I enjoy exploring new places, capturing those places through a camera lens, and maybe recording some music.

                    This website is my place for me to share my latest projects, photos, and videos. Whether it’s a cutting-edge AI project or snapshots of one of my escapades, I hope you’ll enjoy what you find here. Feel free to poke around, and thanks for stopping by!
                </p>
            </DescriptionFragment>
            <ImageFragment>
                <img style="width: 250px; border-radius: 50%; max-width:50vw;" src="Images/SelfieSnowBackground.webp"/>
            </ImageFragment>
        </ContentBlock>
    </Content>
</ContentBlockContainer>


<div style="width:100vw; height:0vh;"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("ScrollSpeed");
        }
    }
}