@page "/projects"
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>

<BackgroundImage ImagePath="Images/ProjectsLogo.webp" MaxImageHeight="55vh" ImageVerticalPadding="10vh" ImageHorizontalPadding="100px">
    <Text>
        <p style="max-width:600px; font-size: clamp(1rem, 8vw, 5rem);">Projects in the making</p>
    </Text>
</BackgroundImage>


<ContentBlockContainer hiddenDiv="false">
    <Content>
        <div class="content-container">
            <a style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer" href="https://www.iaea.org/">
                <ContentBlock>
                    <TitleFragment></TitleFragment><DescriptionTitleFragment></DescriptionTitleFragment>
                    <DescriptionFragment>
                        <h2 style="text-align:center;">International Atomic Energy Agency (IAEA)</h2>
                        <p class="text-block">
                            Currently working in partnership with the Internation Atomic Energy Agency. The project aims to contribute to the IAEA's role in safeguarding the nuclear fuel cycle by using machine learning techniques to ensure effective surveillance and prevent nuclear material falling into the wrong hands.
                        </p>
                    </DescriptionFragment>
                    <ImageFragment>
                        <div class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);">
                            <img style="width: 60%;" src="Images/IAEALogo.webp"/>
                        </div>
                    </ImageFragment>
                </ContentBlock>
            </a>
        </div>

        <div class="content-container">
            <a style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer" href="https://gitlab.doc.ic.ac.uk/jac224/swe4ml-cw">
                <ContentBlock>
                    <TitleFragment></TitleFragment><DescriptionTitleFragment></DescriptionTitleFragment>
                    <DescriptionFragment>
                        <h2 style="text-align:center;">Acute Kidney Injury Hospital Detector</h2>
                        <p class="text-block">
                            Acute kidney injury (AKI) affects 1 in 5 people admitted to hospital as an emergency, and is associated with 100,000 deaths in emergency room patients a year. 30% of these deaths could be prevented with the right care and treatment.
                            I took part in creating software that integrated with a mock hospital system to detect acute kidney injury in emergency room patients. Using hospital blood tests results and an ML model, we detected if a patient had AKI and sent an alert to clinicians if necessary.
                        </p>
                    </DescriptionFragment>
                    <ImageFragment>
                        <div class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);">
                            <img style="width: 100%;" src="Images/AKILogo.webp"/>
                        </div>
                    </ImageFragment>
                </ContentBlock>
            </a>
        </div>

        <div class="content-container">
            <a style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2411.02525">
                <ContentBlock>
                    <TitleFragment></TitleFragment><DescriptionTitleFragment></DescriptionTitleFragment>
                    <DescriptionFragment>
                        <h2 style="text-align:center;">Brain Graph Super-Resolution</h2>

                        <p class="text-block">
                            Part of a Kaggle competition to predict high-resolution (HR) brain graphs from low-resolution (LR) brain graphs using generative Graph Neural Networks. We implemented a modified version of Pragya Singh and Islem Rekik's GNN, where we added residual layers and 
                        </p>
                    </DescriptionFragment>
                    <ImageFragment>
                        <div class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);">
                            <img style="width: 60%;" src="Images/BrainGraphLogo.webp"/>
                        </div>
                    </ImageFragment>
                </ContentBlock>
            </a>
        </div>

        <div class="content-container">
            <a style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer" href="https://github.com/michaelhod/Robot-Path-Learning">
                <ContentBlock>
                    <TitleFragment></TitleFragment><DescriptionTitleFragment></DescriptionTitleFragment>
                    <DescriptionFragment>
                        <h2 style="text-align:center;">Robot Learning</h2>

                        <p class="text-block">
                            Currently working in partnership with the Internation Atomic Energy Agency. The project aims to contribute to the IAEA's role in safeguarding the nuclear fuel cycle by using machine learning techniques to ensure effective surveillance and prevent nuclear material falling into the wrong hands.
                        </p>
                    </DescriptionFragment>
                    <ImageFragment>
                        <div class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);">
                            <img style="width: 100%;" src="Images/RobotLearningLogo.webp"/>
                        </div>
                    </ImageFragment>
                </ContentBlock>
            </a>
        </div>

        <div class="content-container">
            <a style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer" href="https://www.eco2veritas.com/">
                <ContentBlock>
                    <TitleFragment></TitleFragment><DescriptionTitleFragment></DescriptionTitleFragment>
                    <DescriptionFragment>
                        <h2 style="text-align:center;">eco2Veritas</h2>

                        <p class="text-block">
                            Currently working in partnership with the Internation Atomic Energy Agency. The project aims to contribute to the IAEA's role in safeguarding the nuclear fuel cycle by using machine learning techniques to ensure effective surveillance and prevent nuclear material falling into the wrong hands.
                        </p>
                    </DescriptionFragment>
                    <ImageFragment>
                        <div style="padding-bottom:2vw; max-width:min(350px,50vw);">
                            <img style="width: 100%;" src="Images/e2VLogo.webp"/>
                        </div>
                    </ImageFragment>
                </ContentBlock>
            </a>
        </div>

        <div class="content-container">
            <a style="text-decoration: none; color: inherit;" target="_blank" rel="noopener noreferrer" href="https://github.com/michaelhod/personal-website">
                <ContentBlock>
                    <TitleFragment></TitleFragment><DescriptionTitleFragment></DescriptionTitleFragment>
                    <DescriptionFragment>
                        <h2 style="text-align:center;">This webpage</h2>

                        <p class="text-block">
                            Currently working in partnership with the Internation Atomic Energy Agency. The project aims to contribute to the IAEA's role in safeguarding the nuclear fuel cycle by using machine learning techniques to ensure effective surveillance and prevent nuclear material falling into the wrong hands.
                        </p>
                    </DescriptionFragment>
                    <ImageFragment>
                        <div class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);">
                            <img style="width: 50%;" src="Images/AzureLogo.webp"/>
                        </div>
                    </ImageFragment>
                </ContentBlock>
            </a>
        </div>
    </Content>
</ContentBlockContainer>



@code {

}