@page "/projects"
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>

<BackgroundImage ImagePath="Images/ProjectsLogo.webp" MaxImageHeight="55vh" ImageVerticalPadding="10vh" ImageHorizontalPadding="100px">
    <Text>
        <p style="max-width:600px; font-size: clamp(1rem, 8vw, 5rem);">Some projects I've been working on</p>
    </Text>
</BackgroundImage>

<ContentBlock>
    <TitleFragment>
        <h2 style="padding-top:2rem; text-align:center;">International Atomic <br /> Energy Agency (IAEA)</h2>
    </TitleFragment>
    <DescriptionTitleFragment>
        
    </DescriptionTitleFragment>
    <DescriptionFragment>
        <p>
            I am a Machine Learning engineer that bla bla bla

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
        </p>
    </DescriptionFragment>
    <ImageFragment>
        <NavLink class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);" href="https://www.iaea.org/">
            <img style="width: 100%;" src="Images/IAEALogo.webp"/>
        </NavLink>
    </ImageFragment>
</ContentBlock>

<div style="width:100vw; height:5vh;"></div>

<ContentBlock>
    <TitleFragment>
        <h2 style="padding-top:2rem; text-align:center;">Acute Kidney Injury <br />Hospital Detector</h2>
    </TitleFragment>
    <DescriptionTitleFragment>

=    </DescriptionTitleFragment>
    <DescriptionFragment>
        <p>
            I am a Machine Learning engineer that bla bla bla

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
        </p>
    </DescriptionFragment>
    <ImageFragment>
        <NavLink class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);" href="https://www.iaea.org/">
            <img style="width: 100%;" src="Images/AKILogo.webp" />
        </NavLink>
    </ImageFragment>
</ContentBlock>

<div style="width:100vw; height:5vh;"></div>

<ContentBlock>
    <TitleFragment>
        <h2 style="padding-top:2rem; text-align:center;">Brain Graph Super-Resolution</h2>
    </TitleFragment>
    <DescriptionTitleFragment>

        =    </DescriptionTitleFragment>
    <DescriptionFragment>
        <p>
            I am a Machine Learning engineer that bla bla bla

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
        </p>
    </DescriptionFragment>
    <ImageFragment>
        <NavLink class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);" href="https://www.iaea.org/">
            <img style="width: 100%;" src="Images/BrainGraphLogo.webp" />
        </NavLink>
    </ImageFragment>
</ContentBlock>

<div style="width:100vw; height:5vh;"></div>

<ContentBlock>
    <TitleFragment>
        <h2 style="padding-top:2rem; text-align:center;">Robot Learning</h2>
    </TitleFragment>
    <DescriptionTitleFragment>

        =    </DescriptionTitleFragment>
    <DescriptionFragment>
        <p>
            I am a Machine Learning engineer that bla bla bla

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
        </p>
    </DescriptionFragment>
    <ImageFragment>
        <NavLink class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);" href="https://www.iaea.org/">
            <img style="width: 100%;" src="Images/RobotLearningLogo.webp" />
        </NavLink>
    </ImageFragment>
</ContentBlock>

<div style="width:100vw; height:5vh;"></div>

<ContentBlock>
    <TitleFragment>
        <h2 style="padding-top:2rem; text-align:center;">eco2Veritas</h2>
    </TitleFragment>
    <DescriptionTitleFragment>

        =    </DescriptionTitleFragment>
    <DescriptionFragment>
        <p>
            I am a Machine Learning engineer that bla bla bla

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
        </p>
    </DescriptionFragment>
    <ImageFragment>
        <NavLink class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);" href="https://www.iaea.org/">
            <img style="width: 100%;" src="Images/e2VLogo.webp" />
        </NavLink>
    </ImageFragment>
</ContentBlock>

<div style="width:100vw; height:5vh;"></div>

<ContentBlock>
    <TitleFragment>
        <h2 style="padding-top:2rem; text-align:center;">This webpage</h2>
    </TitleFragment>
    <DescriptionTitleFragment>

        =    </DescriptionTitleFragment>
    <DescriptionFragment>
        <p>
            I am a Machine Learning engineer that bla bla bla

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque pharetra urna, sit amet euismod elit convallis vel. Aenean eget venenatis justo. In luctus nibh ullamcorper lorem gravida, nec tincidunt elit volutpat. In laoreet tellus eu libero convallis, et pellentesque nibh consectetur. Donec vitae commodo eros, in porttitor neque. Duis semper, mi ut congue rhoncus, erat lectus vestibulum eros, eu congue sem erat eleifend ex. Quisque euismod hendrerit orci non congue. Curabitur a ante dolor. Morbi efficitur id arcu in volutpat. Integer sit amet urna in justo ornare pretium. Fusce volutpat ultrices pellentesque. Morbi ac dolor odio. Nulla sollicitudin neque eu vestibulum pulvinar. Aenean tempus facilisis lectus id fermentum. Sed in urna leo. Proin condimentum, elit eget elementum posuere, leo lacus consequat mi, in pretium mauris tellus at erat.
        </p>
    </DescriptionFragment>
    <ImageFragment>
        <NavLink class="column-block" style="padding-bottom:2vw; max-width:min(350px,50vw);" href="" Match="NavLinkMatch.All">
            <img style="width: 100%;" src="Images/AzureLogo.webp" />
        </NavLink>
    </ImageFragment>
</ContentBlock>

<div style="width:100vw; height:5vh;"></div>

@code {

}